@import '../colors';

.area-work {
    height: 100%;

    .box-wrap {
        width: 100%;
        height: auto;

        .box {
            position: relative;
            width: 100%;
            height: 128px;
            margin-bottom: 8px;
            padding: 4px;
            border: $border-gray-4;
            font-size: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            p {
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 64px;
                height: 32px;
                margin: auto;
            }
        }
    }
}
